<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jl.dao.BookDao">
    <select id="findBook" resultType="com.jl.bean.Books" parameterType="java.lang.Integer" >
        select
        bookID,bookName,bookCounts,detail
        from books
        where bookID = #{id};
    </select>
</mapper>